{% extends 'base.html.twig' %}


{% block body %}
<div id="d5">
    <form action="/action_page.php">
  
  <input type="search" id="gsearch" name="gsearch">
  <input type="submit" id="gh">
</form>
     <div id="g4">   
    <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
</div>
</div>
<div id="f5"> 
<p id="demo"></p>

<script>
var d = new Date();
document.getElementById("demo").innerHTML = d;
</script></div><br><br>
<div class="container">
		
    <div class="row">
      <h3>Qu'est ce que le contrôle d'accès ?</h3>
      <h6>Mode de fonctionnement :
</h6>
<h6>Un système de contrôle d'accès nécessite la mise en place d’un ensemble de cartes ou de badges sécurisés, de serrures résistantes et mécaniquement fiables Nous fournissons tout le système de contrôle d’accès correspondant à votre besoin : 
 .</h6>
<ul>
 
<li>	logiciel et matériel : contrôleurs / clavier de programmation,</li>
<li>	 badges d’accès (cartes et jetons), </li>
<li>  	lecteurs de cartes et jetons,</li> 
<li>	ventouse magnétique de porte..</li></ul>
<h6>Le but de controle d acces</h6>
<ul>
<li>enregistrer toutes les activités</li>
<li>	 permettre la production de rapports</li> 
<li> 	signaler les alarmes ou toute carte non valide.</li>
<li> vous offre une traçabilité optimale..</li> 
	<li>contrôler spécifiquement les accès physiques à vos locaux professionnels</li>
	<li>permet d’organiser les flux de personnes et de gérer l’accessibilité des zones de façon sélective en restreignant</li> </ul>
  <h6>En fonction de vos besoins, le système de contrôle d’accès permet de contrôler :
</h6><ul>

<li>	Les utilisateurs :Vous avez l’autorisation de choisir les personnes,</li> 
<li>	Les espaces : par la limite de l’accès dans votre entreprise</li> 
<li>	Les moments : profiter de la liberté  libre d’ouverture de votre entreprise, qu’à certains moments de la semaine et de la journée</li> </ul>

</div></div>
{% endblock %}


