{% extends 'base.html.twig' %}


{% block body %}
<div id="d5">
    <form action="/action_page.php">
  
  <input type="search" id="gsearch" name="gsearch">
  <input type="submit" id="gh">
</form>
       <div id="g4"> 
    <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
</div>
</div>
<div id="f5"> 
<p id="demo"></p>

<script>
var d = new Date();
document.getElementById("demo").innerHTML = d;
</script></div><br><br>
<div class="container">
    	<div class="col-md-8">
    	<div id="j6">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="theme/image/52.jpg"  style="width:100%;">
      </div>

      <div class="item">
        <img src="theme/image/57.jpg"  style="width:100%;">
      </div>
      <div class="item">
        <img src="theme/image/211.jpg"  style="width:100%;">
      </div>
      <div class="item">
        <img src="theme/image/999.jpg"  style="width:100%;">
      </div>
    
      <div class="item">
        <img src="theme/image/660.jpg"  style="width:100%;">
      </div>
      <div class="item">
        <img src="theme/image/45.jpg"  style="width:100%;">
      </div>
      <div class="item">
        <img src="theme/image/633.jpg"  style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <h3 align="center">surveillez votre maison</h3>
  <hr><img src="image/59.jpg">
  <p align="center"><strong>Un système d’alarme vous protège des cambriolages et est conseillée par les assurances. L’offre est large : alarme, télésurveillance, vidéosurveillance. Ooreka vous aide à faire le bon choix et à bien sécuriser votre maison.</strong></p> 
  
</div></div>
  <div class="col-md-4">
  	<div id="h5">
  	<h3>Demande de devis</h3>
  	<hr>
  	<p>Notre devis s’adapte à vos projets afin de répondre précisément à vos attentes, nous étudions votre besoin pour vous proposer la meilleure qualité de service à des tarifs compététifs qui corespondent à votre budget.</p>
  	<div id="b6"><button >Demander un devis</button></div></div>
  </div></div>
  <section class="page-section">
        
              <div id="k8">
          <div class="col-md-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="theme/image/a.jpg" ></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">JE SOUHAITE UNE VIDÉOSURVEILLANCE</a>
                </h4>
                <h5>Tom</h5>
                <p class="card-text">Ils font confiance à STS pour leur<br> vidéosurveillance professionnelle
94% de clients prêts à<br> recommander la vidéosurveillance par STS
</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card h-100">
                   <a href="#"><img class="card-img-top" src="theme/image/w.jpg" ></a>
                     <div class="card-body">
                         <h4 class="card-title">
                       <a href="#">STS à vos côtés : votre installateur de contrôle d’accès dans toute la France</a>
                      </h4>
                      <h5>JAck</h5>
                       <p class="card-text">STS propose diverses solutions de gestion<br> sécurisée des accès reposant sur un ensemble de produits performants<br>, fiables et faciles d’utilisation..</p>
                       </div>
                       <div class="card-footer">
                           <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="theme/image/d.jpg" ></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Choisir STS, c’est opter pour la tranquillité</a>
                </h4>
                <h5>Joeseph </h5>
                <p class="card-text">STS vous assure une surveillance et<br> une protection totale de vos biens et locaux,</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
      </div>
</section>
{% endblock %}
