{% extends 'base.html.twig' %}


{% block body %}
<div id="d5">
    <form action="/action_page.php">
  
  <input type="search" id="gsearch" name="gsearch">
  <input type="submit" id="gh">
</form>
      <div id="g4">  
    <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
</div>
</div>
<div id="f5"> 
<p id="demo"></p>

<script>
var d = new Date();
document.getElementById("demo").innerHTML = d;
</script></div><br><br>
<div class="container">
		<div class="conteneur">

    <div class="row">

<div id="a1"><img src="theme/image/10.jpg">
<<div id="a2"><p>Une alarme anti-intrusion est un système conçu pour détecter toute entrée non autorisée dans un bâtiment<br> ou une zone 
Un système d'alarme est un système modulaire composé :
</p><a href="/alarme">Lire la suite</a></div></div>
<div id="z1"><img src="theme/image/11.jpg">
<div id="z2"><p>Vidéosurveillance
STS connu à l’echelle internationnale ,dispose un service de référence sur le marche de la<br> conception et de l'installation des systèmes de vidéosurveillance pour sécuriser un commerce, une industrie,<br> des bureaux, un site logistique, un transporteur

</p><a href="/vedeosurveillance">Lire la suite</a></div></div>
<div id="e1"><img src="theme/image/12.jpg">
<div id="e2"><p>La télésurveillance est un système technique structuré en réseau permettant de surveiller à distance des lieux <br>(publics ou privés), des machines (voir supervision et monitoring) ou des individus
</p><a href="/telesurveillance">Lire la suite</a></div></div>
<div id="r1"><img src="">
<div id="r2"><p>Système intégré.
Qu’est ce qu’un système intégré ?
•	Protégez vos locaux… et votre rentabilité
•	Dissuadez les cambrioleurs
<br>
•	Evitez les effractions et dégradations


</p><a href="/systemeintegre">Lire la suite</a></div></div>
<div id="t1"><img src="theme/image/13.jpg">
<div id="t2"><p>Qu'est ce que le contrôle d'accès ?
Mode de fonctionnement :
Un système de contrôle d'accès nécessite la mise<br> en place d’un ensemble de cartes ou de badges sécurisés, de serrures résistantes et mécaniquement fiables . 

</p><a href="/controle">Lire la suite</a></div></div>
      </div></div>
      </div>	
      {% endblock %}
