{% extends 'base.html.twig' %}


{% block body %}
<div id="d5">
    <form action="/action_page.php">
  
  <input type="search" id="gsearch" name="gsearch">
  <input type="submit" id="gh">
</form>
       <div id="g4"> 
    <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
</div>
</div>
<div id="f5"> 
<p id="demo"></p>

<script>
var d = new Date();
document.getElementById("demo").innerHTML = d;
</script></div><br><br>
<div class="container">

    <div class="row">

<div class="col-md-8">
    	<h3>Vidéosurveillance</h3>
      <p>
STS connu à l’echelle internationnale ,dispose un service de référence sur le marche de la conception et de l'installation des systèmes de vidéosurveillance pour sécuriser un commerce, une industrie, des bureaux, un site logistique, un transporteur
La composition d'un système de vidéosurveillance
Un système de vidéosurveillance est composé de trois types d’équipements.
 
Un système de vidéosurveillance</p>
<ul>
<li> 	Les équipements de réception
	On utilise la caméra pour filmer les zones à surveiller</li> 
<li>	Les équipements de gestion
Les équipement de gestions sont à la choix de clients</li>
<li>	Les équipements de visualisation
	L’ecran sert à visualiser les des images filmées en directe par les caméras ou enregistrées dans un système de vidéosurveillance</li></ul>
  <h4>Quels sont les avantages de la vidéosurveillance ?</h4>
<h5>Objectifs </h5>
<ul>
<li>  permet de surveiller à distance via Internet, un local ou des personnes.</li>
<li>  La surveillance s'effectue à distance tout simplement sur un navigateur internet, grâce à un mot de passe vous garderez la surveillance confidentielle. </li>
<li>  de contribuer à la sécurité de biens et/ou de personnes.</li>
<li>  Prévention de la criminalité</li>
<li>La vidéoprotection permettrait l'augmentation des taux d'élucidation des crimes et délits.</li> 
<li>  de décompter les clients d'une boutique, ou des véhicules entrant et sortant d'une entreprise, voire, potentiellement,</li>
<li>  d'incruster dans l'image vidéo le montant d'un ticket de caisse ou les informations d'un badge ou d'une carte d'accès, </li>
<li>  de reconnaître automatiquement les plaques d'immatriculation des véhicules (permet l'accès d'un parking sans ticket, clé ou badge)</li>
<li>  de signaler automatiquement un objet égaré, abandonné ou volé.</li>
<li>   Sécurité routière</li>
<li>  De lever les angles morts. Ainsi, dans certains camions de ramassage d'ordures, le chauffeur peut voir les mouvements des employés à l'arrière de son véhicule</li>
<li>  La vidéosurveillance se développe pour l’accès en temps réel de la circulation routière des voies les plus fréquentées (autoroutes, voies rapides) ainsi que pour la détection d’accident. Des compagnies privées mesurent le niveau de circulation pour informer les conducteurs équipés d’un GPS</li></ul>
</div>
<div class="col-md-4">
     <div id="a7"> <img src="theme/image/31.jpg">
      <img src="theme/image/32.jpg"></div>
      <div id="z7"><img src="theme/image/40.jpg">
      <img src="theme/image/41.jpg"></div>
      <div id="e7"><img src="theme/image/35.jpg">
      <img src="theme/image/36.jpg"></div>
      <div id="r7"><img src="theme/image/42.jpg">
      <img src="theme/image/43.jpg"></div></div>
      <br><br><br><br><br><br><br>
      <div class="col-md-8">
<ul>

<li>	Sécurité industrielle</li>
<li>	de multiplier les points d'observation en temps réel de l'état des installations et du déroulement du procédé.</li>
<li>	Sûreté</li>
<li>	De prévenir les intrusions et les dégradations de la part de personnes malveillantes.</li>
<li>	 Identifier les responsables de vol</li>
<li>	Comprendre les « erreurs de caisse »</li>
<li>	Limiter naturellement la fraude interne</li>
<li>	La rapidité d’intervention est essentielle pour mettre en fuite les auteurs dans un délai bref et limiter les dégâts et vols.</li>
<li>	pour assurer 100% de réactivité Télésurveillance sur-mesure</li>
<li>	Si votre alarme se déclenche, un équipier se chargera d’alerter les bonnes personnes.</li>
<li>	Si votre alarme se déclenche, un équipier se chargera d’alerter les bonnes personnes.</li>
<li>	Traitement des alarmes 24h/24, 7j/7</li>
<li>Traçabilité de votre système d’alarme, en temps réel : historique des mises en service et hors service de l’alarme, historique des déclenchements d’alarme…</li>
<li> 	La certitude de pouvoir agir</li>
<li>Option Levée de doute : pour donner un accès vidéo à la station de télésurveillance. La levée de doute permet de solliciter très rapidement une intervention en cas d’alarme avérée</li>
<li>	Une sécurité optimale avec la levée de doute</li>
<li> 	Une surveillance 24h/24, 7j/7 que vous soyez présent ou absent de votre entreprise</li>
<li>	Une Une vérification visuelle lors du déclenchement d’une alarme</li>
<li> 	intervention ultra-rapide, en moins de 30 secondes en cas d’alerte</li>
<li>	La mise en fuite immédiate des individus : déclenchement de sirène ou de fumée</li>
<li> 	Un secours aux personnes si nécessaire : des secours sont immédiatement envoyés en cas de braquage, malaise, agression</li>…
<li>	L’enregistrement d’images vidéo qui serviront de preuves en cas de poursuites judiciaires</li>
<li> 	D’avertir les forces de l’ordre rapidement et de manière prioritaire</li>
	
<li>	Gagnez en rentabilité : proteger les entreprises contre les  vols ou de fraudes degradatoins vandalismes	</li>
<li>	Soyez dissuasif :Les collaborateurs seront rassurés et se sentiront davantage en sécurité.</li>
<li>	Limitez les dégâts Les enregistrements sont une preuve particulièrement utile pour les forces de l’ordre.</li>
<li>  	Soyez toujours présent, même en votre absence</li>
<li>	éviter à vos équipes de se déplacer inutilement : elles sont appelées là où leur intervention est requise</li>
<li>	Surveiller plusieurs lieux en même temps</li>
<li>	Surveiller des endroits isolés dans vos locaux (angles morts d’un magasin, parking, coins d’un entrepôt…)</li>
<li>	Analyser des flux de visiteurs</li>
<li> 	Lire des plaques d’immatriculation</li> 
<li> 	Reconnaître des individus</li>
<li>	Assurer la traçabilité d’un colis</li>
</ul></div>
</div></div>
{% endblock %}
